.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  width: auto;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: auto;
}
