.places {
  padding-top: 5.8rem;
  padding-bottom: 5.6rem;
  display: grid;
  gap: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: min(61.5rem, 100%);
}

@media screen and (max-width: 80rem) {
  .places {
    padding-top: 3.9rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 48rem) {
  .places {
    padding-bottom: 3.1rem;
    gap: 3.1rem;
  }
}
